.users {
    padding: 0 24px;
}

.users > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.users .form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.users .form-group input {
    border: 1px solid #777777;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
}